html,
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
img,
i {
  cursor: pointer;
}
#twitter-profile {
  position: absolute;
  margin-top: -11%;
  border: 2px solid white;
  background-color: white;
  padding: 1px;
  width: 20%;
  margin-left: 5%;
}
#root {
  height: auto;
  margin-top: 5%;
}

#navbar {
  background-color: white;
}

#login {
  position: absolute;
  width: 66.66%;
  right: 0;
  left: 0;
  margin: 10% auto;
  .column {
    margin: 0 auto;
  }
  .two.column.grid {
    width: 100%;
  }
}

.twitter {
  .tweet-header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    .content {
      margin-top: 2.5%;
      width: 100%;
    }
  }
  .description {
    display: inline-block;
  }
  .content {
    margin-top: 2%;
    a {
      word-break: break-all;
    }
    .header {
      width: auto;
    }
    .created_at {
      text-align: right;
      font-size: smaller;
      margin: 0;
    }
  }
  .images {
    text-align: center;
    width: 100%;
    .image {
      margin: 1%;
      padding: 1em;
    }
  }
  .twitter-video {
    text-align: center;
  }
}
#users {
  padding: 1% 1rem 1rem 1rem;
}

.trash.alternate.icon:hover {
  color: #ea2027;
}
#new-user {
  form {
    padding: 4rem;
    margin-top: 0;
  }
  .message {
    display: none;
    margin: 5% auto;
    width: 75%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  #root {
    height: auto;
    margin-top: 15%;
  }
  #login {
    width: 66.66%;
    margin: 50% auto;
    position: fixed;
    right: 0;
    left: 0;
  }
  #logout {
    right: 0;
    position: absolute;
  }

  #new-user {
    .header {
      padding: 1rem;
      .content {
        font-size: large;
      }
    }

    form {
      padding: 0;
      margin-top: 15%;
      .field {
        width: 75%;
        margin: 5% auto;
      }
      .is-ban {
        .field {
          margin-left: 0;
        }
      }

      button {
        display: block;
        margin: 2.5% auto;
        width: 75%;
      }
    }
  }

  #users {
    .item {
      padding: 1rem;
      a {
        display: flex;
        align-items: center;
      }
      .right.floated.content {
        margin-top: 2.5%;
      }
    }
    .item:hover {
      background-color: #ecf0f1;
    }
  }
}
